<!-- wp:group {"style":{"position":{"type":"sticky","top":"0px"}},"backgroundColor":"black","className":"critical","layout":{"type":"constrained"}} -->
<div class="wp-block-group critical has-black-background-color has-background"><!-- wp:template-part {"slug":"header"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"padding":{"top":"4rem","right":"2rem","bottom":"4rem","left":"2rem"},"blockGap":"var:preset|spacing|60"}},"className":"wp-site-content","layout":{"inherit":true,"type":"constrained"}} -->
<main class="wp-block-group alignfull wp-site-content" style="padding-top:4rem;padding-right:2rem;padding-bottom:4rem;padding-left:2rem"><!-- wp:heading {"textAlign":"center","level":1,"fontSize":"x-display"} -->
<h1 class="wp-block-heading has-text-align-center has-x-display-font-size"><strong>Oops</strong>, we got <strong>nada</strong>.</h1>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center","fontSize":"lead"} -->
<p class="has-text-align-center has-lead-font-size">You've landed on a page that does not exist. If you think it is an error, please <a href="https://rubenmadila.com/contact/" data-type="page" data-id="301">message me</a>.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">If you want to browse more, I suggest you to start on the <a href="https://rubenmadila.com/" data-type="page" data-id="99">homepage</a> or follow one of the links below.</p>
<!-- /wp:paragraph -->

<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
<div class="wp-block-buttons"><!-- wp:button {"textAlign":"left","textColor":"black","className":"is-style-outline"} -->
<div class="wp-block-button is-style-outline"><a class="wp-block-button__link has-black-color has-text-color has-text-align-left wp-element-button" href="https://rubenmadila.com/about/">About me</a></div>
<!-- /wp:button -->

<!-- wp:button {"textAlign":"left","textColor":"black","className":"is-style-outline"} -->
<div class="wp-block-button is-style-outline"><a class="wp-block-button__link has-black-color has-text-color has-text-align-left wp-element-button" href="https://rubenmadila.com/design/">Design</a></div>
<!-- /wp:button -->

<!-- wp:button {"textAlign":"left","textColor":"black","className":"is-style-outline"} -->
<div class="wp-block-button is-style-outline"><a class="wp-block-button__link has-black-color has-text-color has-text-align-left wp-element-button" href="https://rubenmadila.com/music/">Music</a></div>
<!-- /wp:button -->

<!-- wp:button {"textAlign":"left","textColor":"black","className":"is-style-outline"} -->
<div class="wp-block-button is-style-outline"><a class="wp-block-button__link has-black-color has-text-color has-text-align-left wp-element-button" href="https://rubenmadila.com/gallery/">Photography</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","align":"full"} /-->